<h1>Login page</h1>

<form asp-action="Login" asp-controller="Home" method="post">
    <input type="text" name="userName" />
    <input type="text" name="passWord" />
    <button type="submit">
        Login
    </button>
</form>