<h1>Register page</h1>

<form asp-action="Register" asp-controller="Home" method="post">
    <input type="text" name="userName" />
    <input type="text" name="passWord" />
    <button type="submit">
        Register
    </button>
</form>