
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_signInLayout.cshtml";
}

<div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
<div class="col-lg-6">
    <div class="p-5">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">@viewLocalizer["ForgotPasswordTitle"]</h1>
        </div>
    </div>
</div>