@using System.Threading;
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Http.Extensions
@{
    ViewData["Title"] = viewLocalizer["HomePage"];
    Layout="~/Views/Shared/_Layout.cshtml";
}
<title>
    @ViewData["Title"]
</title>
